<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
  <div class="media">
    <div class="media-left">
      <section class="user_info">
        <h1>
          <%= gravatar_for receipt.message.sender %>
        </h1>
      </section>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= receipt.message.sender.name %> <br />
        <small><b>Subject: </b> <%= message.subject %></small><br />
        <small><b>Date: </b><%= message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
      </h4>
      <%= message.body %>
    </div>
  </div>
<% end %>
