<% provide(:title, "Bookings") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> |</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <h1>Bookings</h1>

    <%= link_to 'New Booking', new_booking_path, class: "btn btn-sm btn-success" %>


      <ul>
        <% @bookings.each do |booking| %>
            <li><strong>Booking ID: </strong><%= booking.id %></li>
            <li><strong>Start date: </strong><%= booking.start_Date %></li>
            <li><strong>End date: </strong><%= booking.end_Date %></li>
            <li><strong>Property ID: </strong><%= booking.property.id %></li>
            <li><strong>Tenant ID: </strong><%= booking.user.id %></li>
            <br />
            <% if current_user.id == booking.user.id %>
              <%= link_to 'Cancel booking', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
            <% end %>
        <% end %>
      </ul>
  </body>
</html>
