<% provide(:title, "Bookings") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> |</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Id:</strong>
      <%= @booking.id %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= @booking.start_Date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @booking.end_Date %>
    </p>

    <p>
      <strong>Property:</strong>
      <%= @booking.property.id %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @booking.user.id %>
    </p>

    <%= link_to 'Back', bookings_path, class: "btn btn-sm btn-success" %>
  </body>
</html>
