<% provide(:title, "Users") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Users</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
        </section>
      </aside>
    </div>

    <p>
      <strong>Id:</strong>
      <%= @user.id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Surname:</strong>
      <%= @user.surname %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= @user.password %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @user.phone %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>


    <% if current_user?(@user) %>
    <%= link_to 'Back', users_path, class: "btn btn-sm btn-success" %> |
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-sm btn-success" %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></li>
    <% else %>
    <%= link_to 'Back', users_path, class: "btn btn-sm btn-success" %>
    <% end %>

  </body>
</html>
