<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <%= render 'common/errors', object: property %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :user_id %><br /><br />
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :price %><br />
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :address %><br />
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :status %><br />
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :images %><br>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if Rails.env.development? %>
  <%= debug(params) %>
<% end %>
