<% provide(:title, "Properties") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Properties</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <h1>Properties</h1>
    <div class="prop_index">
      <% @properties.each do |property| %>
        <div class="indivprop">
          <p<strong>Title: </strong><%= link_to property.title, property %></p>
          <p><strong>Price: </strong><%= property.price %></p>
          <p><strong>Id: </strong><%= property.id %></p>
        </div>

      <% end %>
    </div>
    <br />

    <%= link_to 'New Property', new_property_path, class: "btn btn-sm btn-success" %>
  </body>
</html>
