<% provide(:title, "Properties") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Properties</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <h1>Properties</h1>
    <div class="prop_index">
      <ul>

          <% @properties.each do |property| %>

              <li><strong>Title: </strong><%= link_to property.title, property %></li>
              <li><strong>Price: </strong><%= property.price %></li><br />

          <% end %>
      </ul>
    </div>
    <br />

    <%= link_to 'New Property', new_property_path, class: "btn btn-sm btn-success" %>
  </body>
</html>
