<% provide(:title, "Property") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> |</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

    <h2 id="proptitle"><%= @property.title %></h2>

    <p>
      <strong>User:</strong>
      <%= @property.user_id %>

    </p>

    <p>
      <strong>Price:</strong>
      <%= @property.price %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @property.description %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @property.address %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @property.status %>
    </p>

    <% if @property.images? %>

        <% @property.images.each do |image| %>
          <%= link_to(image_tag(image.big_thumb.url, alt: 'Image'), image.url, target: '_blank') %>
        <% end %>

    <% end %>

    <br /><br />

    <%= link_to 'Edit', edit_property_path(@property), class: "btn btn-sm btn-success" %> |
    <%= link_to 'Back', properties_path, class: "btn btn-sm btn-success" %> |
    <%= link_to 'Destroy', @property, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-success" %>

    <br /><br />
    <div class="commprop">
      <h2 class="comtitle">Comments</h2>
      <%= render @property.comments %>
    </div>
    <div class="commprop">
      <h3 class="comtitle">Add your comment</h3>
      <%= render 'comments/form' %>
    </div>
  </body>
</html>
